@use "../../styles/token.scss" as *;
.wrap {
  width: 100%;
  margin-bottom: 30px;
  background: #3d3d3d;
  border-radius: 20px;
  opacity: 0;
  overflow: hidden;
  &.open {
    animation: fadeSlide 0.3s ease forwards;
  }
  @keyframes fadeSlide {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .inner {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .title {
    font-size: 20px;
    @include flex($jc: space-between);
    margin-bottom: 20px;
    .closeBtn {
      width: 10px;
    }
  }
  .innerTitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .innerDesc {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1024px) {
  @keyframes fadeSlide {
    from {
      opacity: 0;
      transform: translateY(-55%);
    }
    to {
      opacity: 1;
      transform: translateY(-50%);
    }
  }
  .wrap {
    width: 55%;
    margin-bottom: 30px;
    background: #3d3d3d;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 0;
    overflow: hidden;
    &.open {
      animation: fadeSlide 0.3s ease forwards;
    }
    .inner {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      box-sizing: border-box;
    }
    .title {
      font-size: 20px;
      @include flex($jc: space-between);
      margin-bottom: 20px;
      .closeBtn {
        width: 10px;
      }
    }
    .innerTitle {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .innerDesc {
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 1.6;
    }
  }
}
