.projects {
  width: 100%;
  margin-top: 100px;
  .wrap {
    width: 100%;
    color: #fff;
    .title {
      margin: 0 auto;
      line-height: 1.8;
      font-size: 18px;
      text-align: center;
      color: #00d17d;
      border-radius: 10px;
    }
    .titleDesc {
      font-size: 24px;
      color: #fff;
    }
    .filterBtn {
      width: 30%;
      margin: 50px auto 0;
      display: flex;
      justify-content: space-between;
      .filter {
        border: none;
        background: #000218;
        padding: 10px;
        border-radius: 10px;
        color: #00d17d;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover {
          transform: translateY(-5px);
          text-decoration: underline;
          text-underline-offset: 6px;
        }
        &:active {
          transform: translateY(0) scale(0.98);
          box-shadow: 0 0 0 3px rgba(0, 255, 8, 0.25);
        }
      }
      .active {
        background: #00d17d;
        color: #fff;
        border-color: rgba(0, 161, 255, 0.9);
        box-shadow: 0 0 0 3px rgba(0, 255, 8, 0.25);
      }
    }

    .cardWrap {
      width: 82.22%;
      margin: 50px auto 0;
      .card {
        margin-bottom: 30px;
        background: #3d3d3d;
        padding: 20px;
        border-radius: 10px;
        &:hover {
          a {
            color: #00d17d;
            transform: scale(1.1);
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        .cardTitle {
          font-size: 22px;
          text-align: center;
          margin-bottom: 30px;
          font-weight: bold;
        }
        .summaryList {
          font-size: 16px;
          li {
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .desc {
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: 14px;
          line-height: 1.5;
        }
        .iconList {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .iconBox {
            display: flex;
            font-size: 26px;
            gap: 15px;
            li {
              &:hover {
                transform: scale(1.1);
                color: #00d17d;
              }
            }
          }
          .dataLink {
            font-size: 16px;
            transition: all 0.1s ease;
          }
        }
      }
    }
    .moreBtn {
      background: #00d17d;
      border: none;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      font-size: 18px;
      margin: 50px auto 0;
      display: block;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: 768px) {
  .projects {
    width: 100%;
    margin-top: 100px;
    .wrap {
      width: 100%;
      color: #fff;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 18px;
        text-align: center;
        border-radius: 10px;
      }
      .cardWrap {
        width: 78.6%;
        margin: 50px auto 0;

        .card {
          margin-bottom: 30px;
          background: #3d3d3d;
          padding: 30px;
          border-radius: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          .cardTitle {
            font-size: 24px;
            text-align: center;
            margin-bottom: 30px;
          }
          .summaryList {
            font-size: 18px;
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .desc {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 1.5;
          }
          .iconList {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .iconBox {
              display: flex;
              font-size: 26px;
              gap: 15px;
              li {
                &:hover {
                  transform: scale(1.1);
                  color: #00d17d;
                }
              }
            }
            .dataLink {
              font-size: 18px;
              &:hover {
                transform: scale(1.1);
                color: #00d17d;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .projects {
    width: 100%;
    margin-top: 100px;
    .wrap {
      width: 100%;
      color: #fff;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 18px;
        text-align: center;
        border-radius: 10px;
      }
      .filterBtn {
        width: 20%;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        .filter {
          border: none;
          background: #000218;
          padding: 10px;
          border-radius: 10px;
          color: #00d17d;
          font-size: 18px;
          cursor: pointer;
          transition: all 0.1s ease-in;

          &:hover {
            transform: translateY(-5px);
            text-decoration: underline;
            text-underline-offset: 6px;
          }

          &:active {
            transform: translateY(0) scale(0.98);
            box-shadow: 0 0 0 3px rgba(0, 255, 8, 0.25);
          }
        }
        .active {
          background: #00d17d;
          color: #fff;
          border-color: rgba(0, 161, 255, 0.9);
          box-shadow: 0 0 0 3px rgba(0, 255, 8, 0.25);
        }
      }
      .cardWrap {
        width: 70%;
        margin: 50px auto 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        .card {
          width: auto;
          margin-bottom: 30px;
          background: #3d3d3d;
          padding: 20px 20px 80px 20px;
          border-radius: 10px;
          position: relative;
          &:last-child {
            margin-bottom: 30px;
          }
          .cardTitle {
            font-size: 24px;
            text-align: center;
            margin-bottom: 30px;
          }
          .summaryList {
            font-size: 18px;
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 10px;
              }
            }
          }
          .desc {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 1.5;
          }
          .iconList {
            display: flex;
            width: 85%;
            font-size: 26px;
            gap: 15px;
            position: absolute;
            bottom: 10px;
            li {
              &:hover {
                transform: scale(1.1);
                color: #00d17d;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .projects {
    width: 100%;
    margin-top: 100px;
    .wrap {
      width: 100%;
      color: #fff;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 18px;
        text-align: center;
        border-radius: 10px;
      }
      .filterBtn {
        width: 20%;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        .filter {
          border: none;
          background: #000218;
          padding: 10px;
          border-radius: 10px;
          color: #00d17d;
          font-size: 18px;
          cursor: pointer;
          transition: all 0.1s ease-in;

          &:hover {
            transform: translateY(-5px);
            text-decoration: underline;
            text-underline-offset: 6px;
          }

          &:active {
            transform: translateY(0) scale(0.98);
            box-shadow: 0 0 0 3px rgba(0, 255, 8, 0.25);
          }
        }
        .active {
          background: #00d17d;
          color: #fff;
          border-color: rgba(0, 161, 255, 0.9);
          box-shadow: 0 0 0 3px rgba(0, 255, 8, 0.25);
        }
      }
      .cardWrap {
        width: 62.5%;
        max-width: 1200px;
        margin: 50px auto 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .card {
          width: auto;
          margin-bottom: 30px;
          background: #3d3d3d;
          padding: 20px 20px 80px 20px;
          border-radius: 10px;
          &:last-child {
            margin-bottom: 30px;
          }
          .cardTitle {
            font-size: 24px;
            text-align: center;
            margin-bottom: 30px;
          }
          .summaryList {
            font-size: 18px;
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 10px;
              }
            }
          }
          .desc {
            margin-top: 30px;
            font-size: 16px;
            line-height: 1.5;
          }
          .iconList {
            width: 88%;
            display: flex;
            margin-top: 30px;
            font-size: 26px;
            gap: 15px;
            li {
              &:hover {
                transform: scale(1.1);
                color: #00d17d;
              }
            }
          }
        }
      }
    }
  }
}
