.projects {
  width: 100%;
  margin-top: 50px;
  .wrap {
    width: 100%;
    color: #fff;
    .title {
      width: 50%;
      margin: 0 auto;
      line-height: 1.8;
      font-size: 2.4rem;
      text-align: center;
      background: #00a1ff;
      border-radius: 10px;
    }
    .cardWrap {
      width: 82.22%;
      margin: 50px auto 0;

      .card {
        margin-bottom: 30px;
        background: #3d3d3d;
        padding: 10px;
        border-radius: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        .cardTitle {
          font-size: 2.2rem;
          text-align: center;
          margin-bottom: 30px;
        }
        .summaryList {
          font-size: 1.8rem;
          li {
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .desc {
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: 1.6rem;
          line-height: 1.5;
        }
        .iconList {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .iconBox {
            display: flex;
            font-size: 2.6rem;
            gap: 15px;
            li {
              &:hover {
                transform: scale(1.1);
                color: #00a1ff;
              }
            }
          }
          .dataLink {
            font-size: 2rem;
            &:hover {
              transform: scale(1.1);
              color: #00a1ff;
            }
          }
        }
      }
    }
    .moreBtn {
      background: #00a1ff;
      border: none;
      color: #fff;
      // width: 80px;
      // height: 40px;
      padding: 10px;
      border-radius: 10px;
      font-size: 1.8rem;
      margin: 50px auto 0;
      display: block;
    }
  }
}
@media screen and (min-width: 768px) {
  .projects {
    width: 100%;
    margin-top: 50px;
    .wrap {
      width: 100%;
      color: #fff;
      .title {
        width: 35%;
        margin: 0 auto;
        line-height: 1.8;
        font-size: 2.4rem;
        text-align: center;
        background: #00a1ff;
        border-radius: 10px;
      }
      .cardWrap {
        width: 78.6%;
        margin: 50px auto 0;

        .card {
          margin-bottom: 30px;
          background: #3d3d3d;
          padding: 20px;
          border-radius: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          .cardTitle {
            font-size: 2.2rem;
            text-align: center;
            margin-bottom: 30px;
          }
          .summaryList {
            font-size: 1.8rem;
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .desc {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 1.6rem;
            line-height: 1.5;
          }
          .iconList {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .iconBox {
              display: flex;
              font-size: 2.6rem;
              gap: 15px;
              li {
                &:hover {
                  transform: scale(1.1);
                  color: #00a1ff;
                }
              }
            }
            .dataLink {
              font-size: 2rem;
              &:hover {
                transform: scale(1.1);
                color: #00a1ff;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .projects {
    width: 100%;
    margin-top: 50px;
    .wrap {
      width: 100%;
      color: #fff;
      .title {
        width: 35%;
        margin: 0 auto;
        line-height: 1.8;
        font-size: 2.4rem;
        text-align: center;
        background: #00a1ff;
        border-radius: 10px;
      }
      .cardWrap {
        width: 70%;
        margin: 50px auto 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        .card {
          width: auto;
          margin-bottom: 30px;
          background: #3d3d3d;
          padding: 10px 10px 80px 10px;
          border-radius: 10px;
          position: relative;
          &:last-child {
            margin-bottom: 30px;
          }
          .cardTitle {
            font-size: 2.4rem;
            text-align: center;
            margin-bottom: 30px;
          }
          .summaryList {
            font-size: 2rem;
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 10px;
              }
            }
          }
          .desc {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 1.6rem;
            line-height: 1.5;
          }
          .iconList {
            display: flex;
            width: 92%;
            font-size: 2.6rem;
            gap: 15px;
            position: absolute;
            bottom: 10px;
            li {
              &:hover {
                transform: scale(1.1);
                color: #00a1ff;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .projects {
    width: 100%;
    margin-top: 50px;
    .wrap {
      width: 100%;
      color: #fff;
      .title {
        width: 35%;
        max-width: 350px;
        margin: 0 auto;
        line-height: 1.8;
        font-size: 2.4rem;
        text-align: center;
        background: #00a1ff;
        border-radius: 10px;
      }
      .cardWrap {
        width: 62.5%;
        max-width: 1200px;
        margin: 50px auto 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .card {
          width: auto;
          margin-bottom: 30px;
          background: #3d3d3d;
          padding: 10px 10px 80px 10px;
          border-radius: 10px;
          &:last-child {
            margin-bottom: 30px;
          }
          .cardTitle {
            font-size: 2.4rem;
            text-align: center;
            margin-bottom: 30px;
          }
          .summaryList {
            font-size: 2rem;
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 10px;
              }
            }
          }
          .desc {
            margin-top: 30px;
            font-size: 1.6rem;
            line-height: 1.5;
          }
          .iconList {
            display: flex;
            margin-top: 30px;
            font-size: 2.6rem;
            gap: 15px;
            li {
              &:hover {
                transform: scale(1.1);
                color: #00a1ff;
              }
            }
          }
        }
      }
    }
  }
}
