.skills {
  width: 100%;
  margin-top: 100px;
  .wrap {
    width: 100%;
    color: #fff;
    .title {
      margin: 0 auto;
      line-height: 1.8;
      font-size: 1.8rem;
      text-align: center;
      color: #00d17d;
      border-radius: 10px;
    }
    .titleDesc {
      text-align: center;
      font-size: 2.4rem;
      margin-top: 5px;
      color: #fff;
    }
    .icons {
      width: 82.22%;
      margin: 30px auto 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .icon {
      font-size: 4rem;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.1);
        color: #00d17d;
      }
    }
    // .desc {
    //   width: 82.22%;
    //   margin: 30px auto 0;
    //   font-size: 2rem;
    //   text-align: center;
    //   span:first-child,
    //   :nth-child(2),
    //   :nth-child(3) {
    //     display: block;
    //     margin-bottom: 5px;
    //   }
    // }
  }
}
@media screen and (min-width: 768px) {
  .skills {
    width: 100%;
    margin-top: 50px;
    .wrap {
      width: 100%;
      color: #fff;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 1.8rem;
        text-align: center;
        color: #00d17d;
        border-radius: 10px;
      }
      .titleDesc {
        font-size: 2.4rem;
      }
      .icons {
        width: 78.6%;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .icon {
        font-size: 4rem;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.1);
          color: #00d17d;
        }
      }
      // .desc {
      //   width: 78.6%;
      //   margin: 30px auto 0;
      //   font-size: 2.4rem;
      //   text-align: center;
      //   span:first-child,
      //   :nth-child(2),
      //   :nth-child(3) {
      //     display: block;
      //     margin-bottom: 10px;
      //   }
      // }
    }
  }
}
@media screen and (min-width: 1024px) {
  .skills {
    width: 100%;
    margin-top: 50px;
    .wrap {
      width: 100%;
      color: #fff;
      .title {
        margin: 0 auto;
        line-height: 2;
        font-size: 1.8rem;
        text-align: center;
        color: #00d17d;
        border-radius: 10px;
      }
      .titleDesc {
        font-size: 2.4rem;
      }
      .icons {
        width: 70%;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .icon {
        font-size: 5rem;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.1);
          color: #00d17d;
        }
      }
      // .desc {
      //   width: 70%;
      //   margin: 30px auto 0;
      //   font-size: 2.4rem;
      //   text-align: center;
      //   span:first-child,
      //   :nth-child(2),
      //   :nth-child(3) {
      //     display: block;
      //     margin-bottom: 10px;
      //   }
      // }
    }
  }
}
@media screen and (min-width: 1500px) {
  .skills {
    width: 100%;
    margin-top: 50px;
    .wrap {
      width: 100%;
      color: #fff;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 1.8rem;
        text-align: center;
        color: #00d17d;
        border-radius: 10px;
      }
      .titleDesc {
        font-size: 2.4rem;
      }
      .icons {
        width: 62.5%;
        max-width: 1200px;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .icon {
        font-size: 5rem;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.1);
          color: #00d17d;
        }
      }
      // .desc {
      //   width: 62.5%;
      //   max-width: 1200px;
      //   margin: 30px auto 0;
      //   font-size: 2.4rem;
      //   text-align: center;
      //   span:first-child,
      //   :nth-child(2),
      //   :nth-child(3) {
      //     display: block;
      //     margin-bottom: 10px;
      //   }
      // }
    }
  }
}
