@use "../../styles/token.scss" as *;
.skills {
  width: 100%;
  margin-top: 100px;
  .wrap {
    width: 100%;
    color: $white;
    .title {
      width: 82.22%;
      margin: 0 auto;
      line-height: 1.8;
      font-size: 18px;
      text-align: center;
      color: $mainColor;
      border-radius: 10px;
    }
    .titleDesc {
      text-align: center;
      font-size: 24px;
      margin-top: 5px;
      color: $white;
    }
    .icons {
      width: 95%;
      margin: 30px auto 0;
      @include flex(space-between);
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
    }
    .icon {
      font-size: 40px;
      transition: all $motionFast;
      &:hover {
        transform: scale(1.1);
        color: $mainColor;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .skills {
    width: 100%;
    margin-top: 100px;
    .wrap {
      width: 100%;
      color: $white;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 18px;
        text-align: center;
        color: $mainColor;
        border-radius: 10px;
      }
      .titleDesc {
        font-size: 24px;
      }
      .icons {
        width: 78.6%;
        margin: 50px auto 0;
        @include flex(space-between);
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
      }
      .icon {
        font-size: 40px;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.1);
          color: $mainColor;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .skills {
    width: 100%;
    margin-top: 100px;
    .wrap {
      width: 100%;
      color: $white;
      .title {
        margin: 0 auto;
        line-height: 2;
        font-size: 18px;
        text-align: center;
        color: $mainColor;
        border-radius: 10px;
      }
      .titleDesc {
        font-size: 24px;
      }
      .icons {
        width: 70%;
        margin: 50px auto 0;
        @include flex(space-between);
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
      }
      .icon {
        font-size: 50px;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.1);
          color: $mainColor;
        }
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .skills {
    width: 100%;
    margin-top: 100px;
    .wrap {
      width: 100%;
      color: $white;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 18px;
        text-align: center;
        color: $mainColor;
        border-radius: 10px;
      }
      .titleDesc {
        font-size: 24px;
      }
      .icons {
        width: 62.5%;
        max-width: 1200px;
        margin: 50px auto 0;
        @include flex(space-between);
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
      }
      .icon {
        font-size: 50px;
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.1);
          color: $mainColor;
        }
      }
    }
  }
}
