.contact {
  width: 100%;
  margin-top: 50px;
  .wrap {
    color: #fff;
    .desc {
      font-size: 2.2rem;
      text-align: center;
      p:first-child {
        margin-bottom: 10px;
      }
    }
    .info {
      max-width: 298px;
      margin: 50px auto 100px;
      padding: 20px;
      font-size: 1.8rem;
      background: #3d3d3d;
      border-radius: 10px;
      a {
        display: block;
        &:hover {
          span {
            color: #00d17d;
          }
        }
      }
      a:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
