@use "../../styles/token.scss" as *;
.wrap {
  width: 100%;
  margin-top: 10px;
  .inner {
    width: 82.22%;
    margin: 0 auto;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include flex();
  }
  .h1Wrap {
    color: $mainColor;
    font-size: 52px;
    text-align: center;
  }
  .mBtn {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 0;
    padding: 0;
    cursor: pointer;
    span {
      width: 30px;
      height: 5px;
      background: #aea5a5;
    }
  }
  nav {
    width: 82.22%;
    color: $white;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    overflow: hidden;

    .gnb {
      display: inline-block;
      background: $mainColor;
      text-align: center;
      border-radius: 10px;
    }
    .navName {
      padding: 10px;
      font-size: 16px;
      .navLink {
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          color: $mainColor;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .open {
    opacity: 1;
    pointer-events: auto;
    max-height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .wrap {
    width: 100%;
    margin-top: 10px;
    .inner {
      width: 78.6%;
      margin: 0 auto;
      position: relative;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      @include flex();
    }
    .h1Wrap {
      color: $mainColor;
      font-size: 52px;
      text-align: center;
    }
    .mBtn {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      right: 0;
      padding: 0;
      cursor: pointer;
      span {
        width: 30px;
        height: 5px;
        background: #aea5a5;
      }
    }
    nav {
      width: 78.6%;
      color: $white;
      display: flex;
      justify-content: flex-end;
      margin: 10px auto 0;

      .gnb {
        display: inline-block;
        background: $mainColor;
        text-align: center;
        border-radius: 10px;
      }
      .navName {
        padding: 10px;
        font-size: 16px;
        .navLink {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .wrap {
    width: 100%;
    margin-top: 10px;
    .inner {
      width: 70%;
      margin: 0 auto;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
    }
    .h1Wrap {
      color: $mainColor;
      font-size: 82px;
      text-align: center;
    }
    .mBtn {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      right: 0;
      padding: 0;
      display: none;
      cursor: pointer;
      span {
        width: 30px;
        height: 5px;
        background: #aea5a5;
      }
    }
    nav {
      width: auto;
      color: $white;
      display: block;
      position: fixed;
      right: 30px;
      top: 38%;
      margin: 10px auto 0;
      .gnb {
        display: inline-block;
        background: $mainColor;
        text-align: center;
        border-radius: 10px;
      }
      .navName {
        padding: 10px;
        font-size: 18px;
        .navLink {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .scrollOpen {
      max-height: 300px;
      opacity: 1;
      pointer-events: auto;
    }
  }
}
@media screen and (min-width: 1500px) {
  .wrap {
    width: 100%;
    margin-top: 10px;
    .inner {
      width: 62.5%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
    }
    .h1Wrap {
      color: $mainColor;
      font-size: 82px;
      text-align: center;
    }
    .mBtn {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      right: 0;
      padding: 0;
      display: none;
      cursor: pointer;
      span {
        width: 30px;
        height: 5px;
        background: #aea5a5;
      }
    }
    nav {
      width: auto;
      color: $white;
      display: block;
      position: fixed;
      right: 30px;
      top: 38%;
      margin: 10px auto 0;
      .gnb {
        display: inline-block;
        background: #00d17d;
        text-align: center;
        border-radius: 10px;
      }
      .navName {
        padding: 10px;
        font-size: 18px;
        .navLink {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
