.intro {
  width: 100%;
  margin-top: 100px;
  .textBox {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    p {
      margin-bottom: 15px;
      span {
        color: #00d17d;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  .intro {
    width: 100%;
    margin-top: 100px;
    .textBox {
      font-size: 36px;
      color: #fff;
      text-align: center;
      p {
        margin-bottom: 15px;
        span {
          color: #00d17d;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    width: 100%;
    margin-top: 100px;
    .textBox {
      font-size: 48px;
      color: #fff;
      text-align: center;
      p {
        margin-bottom: 10px;
        span {
          color: #00d17d;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .intro {
    width: 100%;
    margin-top: 100px;
    .textBox {
      font-size: 48px;
      color: #fff;
      text-align: center;
      p {
        margin-bottom: 10px;
        span {
          color: #00d17d;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
