@use "../../styles/token.scss" as *;
.experience {
  width: 100%;
  margin-top: 100px;
  .wrap {
    width: 100%;
    color: $white;
    .title {
      margin: 0 auto;
      line-height: 1.8;
      font-size: 18px;
      text-align: center;
      color: $mainColor;
      border-radius: 10px;
    }
    .titleDesc {
      width: 82.22%;
      margin: 0 auto;
      font-size: 24px;
      color: $white;
    }
    .cardWrap {
      width: 82.22%;
      margin: 50px auto 0;
      .card {
        width: 100%;
        &:nth-of-type(2) {
          margin-top: 50px;
        }
        .cardHeader {
          font-size: 16px;
          margin-bottom: 10px;
          text-align: center;
          .company {
            margin-bottom: 10px;
          }
          span {
            font-size: 14px;
          }
        }
        .cardBtn {
          text-align: center;
          .descBtn {
            font-size: 14px;
            background: none;
            border: none;
            color: $mainColor;
            padding: 0;
            cursor: pointer;
            .arrow {
              display: inline-block;
              transform-origin: center;
              transition: transform 0.1s ease-in;
              &.rotate {
                transform: rotate(90deg);
              }
            }
          }
        }
        .cardDesc {
          max-height: 0px;
          opacity: 0;
          overflow: hidden;
          transition: max-height 0.1s ease-in;
          margin-top: 30px;
          font-size: 14px;
          background: #3d3d3d;
          padding: 20px 0px 20px 10px;
          border-radius: 10px;
          &.open {
            max-height: 500px;
            opacity: 1;
          }
          .desc {
            margin-bottom: 15px;
            &:nth-of-type(4) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .experience {
    width: 100%;
    margin-top: 100px;
    .wrap {
      width: 100%;
      color: $white;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 18px;
        text-align: center;
        color: $mainColor;
        border-radius: 10px;
      }
      .titleDesc {
        width: 100%;
        font-size: 24px;
        color: $white;
      }
      .cardWrap {
        width: 78.6%;
        margin: 50px auto 0;
        .card {
          width: 100%;
          &:nth-of-type(2) {
            margin-top: 50px;
          }
          .cardHeader {
            font-size: 20px;
            margin-bottom: 10px;
            text-align: left;
            .company {
              margin-bottom: 10px;
            }
            span {
              font-size: 14px;
            }
          }
          .cardBtn {
            text-align: left;
            .descBtn {
              font-size: 14px;
              background: none;
              border: none;
              color: $mainColor;
              padding: 0;
              cursor: pointer;
            }
          }
          .cardDesc {
            margin-top: 30px;
            font-size: 16px;
            background: #3d3d3d;
            padding: 20px 0px 20px 10px;
            border-radius: 10px;
            .desc {
              margin-bottom: 15px;
              &:nth-of-type(4) {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .experience {
    width: 100%;
    margin-top: 100px;
    .wrap {
      width: 100%;
      color: $white;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 18px;
        text-align: center;
        color: $mainColor;
        border-radius: 10px;
      }
      .titleDesc {
        font-size: 24px;
        color: $white;
      }
      .cardWrap {
        width: 70%;
        // display: flex;
        // justify-content: space-between;
        margin: 50px auto 0;
        .card {
          width: 100%;

          &:nth-of-type(2) {
            margin-top: 50px;
          }
          .cardHeader {
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
            .company {
              margin-bottom: 10px;
            }
            span {
              font-size: 16px;
            }
          }
          .cardBtn {
            text-align: center;
            .descBtn {
              font-size: 16px;
              background: none;
              border: none;
              color: $mainColor;
              padding: 0;
              cursor: pointer;
            }
          }
          .cardDesc {
            width: 50%;
            margin: 30px auto 0;
            font-size: 18px;
            background: #3d3d3d;
            padding: 20px 0px 20px 10px;
            border-radius: 10px;

            .desc {
              margin-bottom: 15px;
              &:nth-of-type(4) {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .experience {
    width: 100%;
    margin-top: 100px;
    .wrap {
      width: 100%;
      color: $white;
      .title {
        margin: 0 auto;
        line-height: 1.8;
        font-size: 18px;
        text-align: center;
        color: $mainColor;
        border-radius: 10px;
      }
      .titleDesc {
        font-size: 24px;
        color: $white;
      }
      .cardWrap {
        width: 62.5%;
        margin: 50px auto 0;
        .card {
          width: 100%;
          &:nth-of-type(2) {
            margin-top: 50px;
          }
          .cardHeader {
            font-size: 20px;
            margin-bottom: 10px;
            .company {
              margin-bottom: 10px;
            }
            span {
              font-size: 16px;
            }
          }
          .cardBtn {
            .descBtn {
              font-size: 16px;
              background: none;
              border: none;
              color: $mainColor;
              padding: 0;
              cursor: pointer;
            }
          }
          .cardDesc {
            width: 40%;
            margin: 30px auto 0;
            font-size: 18px;
            background: #3d3d3d;
            padding: 20px 0px 20px 10px;
            border-radius: 10px;
            .desc {
              margin-bottom: 15px;
              &:nth-of-type(4) {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
